* {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1100px;
  margin: 4rem auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;

  &__title {
    text-transform: uppercase;
    color: brown;
    font-style: italic;
    font-size: 40px;
    font-weight: bold; 
  }

  &__icons-wrapper {
    border: 1px solid #eee;
    padding: 60px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }
}